{% import_yaml 'grub/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Gentoo': {},
        'Arch': {
            "pkg" : 'grub',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('grub:lookup'))
%}

{% do default_settings.grub.update(os_family_map) %}

{% set grub = salt['pillar.get'](
        'grub',
        default=default_settings.grub,
        merge=True
    )
%}
